{% apply inline_css(source('@styles/template-email.css')) %}

    <h2>confirmation</h2>
    <hr>
    <h3>Iepscf</h3>

    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, assumenda deserunt enim eveniet inventore
        nemo nihil odio quidem? Aperiam, assumenda blanditiis consequuntur debitis dolores eaque error harum in
        laboriosam libero nostrum nulla perferendis porro possimus quaerat ullam veniam veritatis voluptas?</p>
{% endapply %}