{% apply inline_css%}
    <style>
        h2 {
            color: blue;
            font-size: 1.4rem;
            text-align: center;
        }

        .para {
            color: red;
            text-decoration: underline;
        }
    </style>

    <h2>{{ title }}</h2>
    <hr>
    <h3>{{ message }}</h3>

    <p class="para">{{ firstName }} {{ lastName }}</p>
{% endapply %}